{% extends "layout.html" %} {% block body %}

<main id="main">
    <!-- ======= Pricing Section ======= -->
    <section id="pricing " class="pricing section-bg ">
        <div class="container ">

            <div class="section-title " data-aos="fade-up ">
                <h2>Pricing</h2>
                <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
            </div>

            <div class="row ">

                <div class="col-lg-4 col-md-6 ">
                    <div class="box " data-aos="zoom-in " data-aos-delay="100 ">
                        <h2>About Us</h2>
                        <div class="btn-wrap ">
                            <a class="btn-buy " onclick="enterAbout()">Check It!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0 ">
                    <div class="box recommended " data-aos="zoom-in ">
                        <h2>Features</h2>
                        <div class="btn-wrap ">
                            <a href="# " class="btn-buy ">Check It!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 ">
                    <div class="box " data-aos="zoom-in " data-aos-delay="100 ">
                        <h2>Contact Us</h2>
                        <div class="btn-wrap ">
                            <a onclick="enterContacts()" class="btn-buy ">Send Us!</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Pricing Section -->

</main>
<!-- End #main -->
{% endblock %}